*{margin: 0; padding: 0;}
 .float-left{float: left}
 .float-right{float: right}
 a{text-decoration: none;}
 
 .main-wrap{
    width: 100%;
 }
 .tp-bg{
    background: rgb(114, 105, 87);
 }
 .wrap{
   width: 960px;
   height: 50vh;
   margin: 0 auto;
 }
